*~
*.in
*.la
*.lo
*.o
*.pb-c.c
*.pb-c.h
*.tar.*
.deps
.dirstamp
.libs
test_store
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/src/config.h
/src/libec/test
/test-driver
config.log
Makefile
stamp-h1
